params{
    //CheckM2 database download
    checkm2_db = null
    checkm2_db_version = 14897628
    skip_checkm2 = false
    
    //Bin filtering
    min_completeness = 90
    max_contamination = 5

    //Input and output
    outdir = "results"
    publish_dir_mode = "copy"
    mag_paths = "mag_paths.tsv"
}

includeConfig 'conf/base.config'

// Enable Docker for this run
docker {
    enabled = true
}

docker.registry = 'quay.io'

// Capture execution reports
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

// Capture execution timeline
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

// Capture task resource consumption
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

includeConfig 'conf/modules.config'
