process{
    withName: CHECKM2_DATABASEDOWNLOAD {
        ext.args   = ''
        publishDir = [
            enabled : false
        ]
    }
    withName: CHECKM2_PREDICT {
        ext.args   = ''
        publishDir = [
                path: { "${params.outdir}/checkm2" },
                mode: params.publish_dir_mode,
                pattern: "*.{tsv}",
        ]
    }
    withName: TRANSFORM_CHECKM2_REPORT {
        ext.args   = ''
    }
    withName: FILTER_BINS {
        ext.args   = ''
        publishDir = [
                path: { "${params.outdir}/filtered_bins" },
                mode: params.publish_dir_mode,
        ]
    }
    withName: DREP {
        ext.args   = ''
        publishDir = [
            [
                path: { "${params.outdir}/dRep" },
                mode: params.publish_dir_mode,
            ],
            [
                path: { "${params.outdir}/concatenated_genomes" },
                mode: params.publish_dir_mode,
                pattern : "*concatenated.fa"
            ] 
        ]
    }
    withName: BOWTIE2_INSTRAIN_BUILD {
        ext.args   = ''
        publishDir = [
            enabled : false
        ]
    }
}
