process{
    withName: CHECKM2_DATABASEDOWNLOAD {
        ext.args   = ''
        publishDir = [
            enabled : false
        ]
    }
    withName: CHECKM2_PREDICT {
        ext.args   = ''
        publishDir = [
                path: { "${params.outdir}/checkm2" },
                mode: params.publish_dir_mode,
                pattern: "*.{tsv}",
        ]
    }
    withName: TRANSFORM_CHECKM2_REPORT {
        ext.args   = ''
    }
    withName: FILTER_BINS {
        ext.args   = ''
        publishDir = [
                path: { "${params.outdir}/filtered_bins" },
                mode: params.publish_dir_mode,
        ]
    }
    withName: DREP {
        ext.args   = ''
        publishDir = [
            [
                path: { "${params.outdir}/dRep" },
                mode: params.publish_dir_mode,
                pattern: "dRep*"
            ],
            [
                path: { "${params.outdir}/competitive_mapping/concatenated_genomes" },
                mode: params.publish_dir_mode,
                pattern : "*concatenated.fa"
            ] 
        ]
    }
    withName: COVERM {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/coverm" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: BOWTIE2_INSTRAIN_BUILD {
        ext.args   = ''
        publishDir = [
            enabled : false
        ]
    }
    withName: BOWTIE2_INSTRAIN_ALIGN {
        ext.args   = '--very-sensitive'
        publishDir = [
            path: { "${params.outdir}/competitive_mapping/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai}",
        ]
    }
    withName: EXTRACT_CONTIG_NAMES {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/competitive_mapping/${meta.id}_definition_files" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: PRODIGAL {
        ext.args = '-p meta'
        publishDir = [
            path: { "${params.outdir}/prodigal/${meta.sample}/${meta.id}" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: INSTRAIN_PROFILE {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/instrain_profile" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: INSTRAIN_COMPARE {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/instrain_compare" },
            mode: params.publish_dir_mode,
        ]
    }
}
