process{
    withName: CHECKM2_DATABASEDOWNLOAD {
        ext.args   = ''
    }
    withName: CHECKM2_PREDICT {
        ext.args   = ''
        publishDir = [
                path: { "${params.outdir}/checkm2" },
                mode: params.publish_dir_mode,
                pattern: "*.{tsv}",
        ]
    }
    withName: TRANSFORM_CHECKM2_REPORT {
        ext.args   = ''
    }
}
